<div class="hero-unit">

<h1>Welcome to PicZA!</h1>

	<p>
		Your local South African Picture sharing site :)
		<%= link_to "PicZA", "http://onemontshrails.com" %>
		application
	</p>

	<p>
		<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large"  %>
	</p>

</div>
