<h1>Welcome to One Months Rails!</h1>
<p>

	You have found the homepage of One Months Rail's 

	<%= link_to "One Month Rails", "http://onemonthrails.com" %>

	application

</p>

<p>
	<%= link_to "Sign Up Now!", "#"  %>
</p>

